body{
  align-content: center ;
}




button{
  border: none;
  background-color: red;
  color: white;
  width: 200px;
  font-size: 20px;
  font-family: 'Gill Sans', sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  cursor: pointer;
}

#save-btn{
  background-color: green  ;
}